In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('highway_101.csv')

In [5]:
df1 = pd.read_csv('vehicle-trajectory-data/0750am-0805am/vehicle_100.csv')
df1

,Unnamed: 0,Vehicle_ID,Frame_ID,Total_Frames,Global_Time,Local_X,Local_Y,Global_X,Global_Y,v_Length,v_Width,v_Class,v_Vel,v_Acc,Lane_ID,Preceeding,Following,Space_Hdwy,Time_Hdwy
0,27232,100,228,449,1118847001700,51.598,40.137,6451114.686,1873317.945,16.0,6.4,2,42.54,0.00,5,90,0,64.65,1.52
1,27233,100,229,449,1118847001800,51.576,44.636,6451117.710,1873314.613,16.0,6.4,2,42.54,0.00,5,90,0,63.76,1.50
2,27234,100,230,449,1118847001900,51.552,49.136,6451120.735,1873311.281,16.0,6.4,2,42.54,0.00,5,90,0,62.97,1.48
3,27235,100,231,449,1118847002000,51.529,53.637,6451123.760,1873307.949,16.0,6.4,2,42.54,0.00,5,90,0,62.26,1.46
4,27236,100,232,449,1118847002100,51.507,58.136,6451126.784,1873304.617,16.0,6.4,2,42.54,0.00,5,90,0,61.65,1.45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
444,27676,100,672,449,1118847046100,55.989,2100.609,6452651.830,1871934.508,16.0,6.4,2,60.94,11.20,5,0,109,0.00,0.00
445,27677,100,673,449,1118847046200,56.147,2106.831,6452656.673,1871930.450,16.0,6.4,2,61.59,-0.06,5,0,109,0.00,0.00
446,27678,100,674,449,1118847046300,56.208,2113.121,6452661.522,1871926.508,16.0,6.4,2,61.59,0.00,5,0,109,0.00,0.00
447,27679,100,675,449,1118847046400,56.203,2119.121,6452666.217,1871922.772,16.0,6.4,2,61.59,0.00,5,0,109,0.00,0.00
448,27680,100,676,449,1118847046500,56.199,2125.120,6452670.911,1871919.036,16.0,6.4,2,61.59,0.00,5,0,109,0.00,0.00

In [6]:
df1['Lane_ID'].value_counts

<bound method IndexOpsMixin.value_counts of 0      5
1      5
2      5
3      5
4      5
      ..
444    5
445    5
446    5
447    5
448    5
Name: Lane_ID, Length: 449, dtype: int64>

In [7]:
df2 = pd.read_csv('lane_controllers/lane_controller0.csv')
df2

    Unnamed: 0         Y
0     0.000000  0.029552
1     0.202020  0.064730
2     0.404040  0.089484
3     0.606061  0.099828
4     0.808081  0.094095
..         ...       ...
95   19.191919  0.031351
96   19.393939  0.010179
97   19.595960 -0.012281
98   19.797980 -0.032419
99   20.000000 -0.047052

[100 rows x 2 columns]